<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="/logNav.css">
    
    
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">
            <img src="assets/logo1.png" alt="MediMaps Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/all" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <a href="/add"><button class="signupBtn">Add Meds</button></a>
            <a href="/all"><button class="loginBtn">View Stocks</button></a>
            <form action="/logout" method="post">
                <button class="logoutBtn">Logout</button>
            </form>
        </ul>
    </nav>



</body>
</html>