<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="/navbar.css">
    
    
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">
            <img src="assets/logo1.png" alt="MediMaps Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <a href="/signup"><button class="signupBtn">Sign Up</button></a>
            <a href="/login"><button class="loginBtn">Login</button></a>
        </ul>
    </nav>



</body>
</html>